<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>DEMO</title>
    
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.blue.css" />
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header>
            <hgroup class="container" style="max-width: 1600px;">
                <h1>Demo Selector</h1>
                <p>Not what i would advice, but this is working :)</p>
            </hgroup>
        </header>
        {% block body %}
            <main class="container" style="max-width: 1600px;">
                {% block content %}
                {% endblock %}
            </main>
        {% endblock %}
        <footer>
            <div class="container" style="max-width: 1600px;">
                <a href="https://github.com/smnandre">@smnandre</a>
            </div>
        </footer>
    </body>
</html>
